/* mulish google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* common shared styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/* navbar styles starts here */
nav {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}
#logo-container {
  display: flex;
  align-items: center;
  color: #131318;
  font-size: 25px;
  font-weight: 800;
  padding: 0 50px;
  gap: 16px;
}
#logo-container .travel {
  color: #ff5400;
}
nav ul {
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
  padding: 7px 10px;
}
a.active,
a:hover {
  color: #ff5400;
  transition: 0.5s;
}
.checkbtn {
  font-size: 25px;
  /* float: right; */
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
/* navbar styles ends here */

/* banner styles ends here */

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 600px) {
  #logo-container {
    padding-left: 10px;
  }
  #logo-container .logo-text {
    font-size: 20px;
    line-height: 80%;
  }
  .checkbtn {
    margin-right: 20px;
  }
}

/* tablet devices */
@media screen and (max-width: 952px) {
  #logo-container {
    font-size: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  #logo-container {
    line-height: 80px;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ff5400;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    text-transform: uppercase;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 25px;
  }
  a.active,
  a:hover {
    background: none;
    color: pink;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
