/* mulish google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* common shared styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
}
